body {
    margin: 0;
    background-color: white;
}
.container {
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 25px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 15%;
    grid-template-rows: 50px 1fr 1fr 1fr 75px;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.container div{
    padding: 10px;
    border: 1px solid #000000;
}
.header{
    grid-column: 1/max;

    padding: 10px;
    border: 2px solid #000000;
    background-color: #181818;

}
.content-extra-large{
    grid-column: 1/ span 3;
    grid-row: 2/4;
    display: flex;
    justify-content: space-between;
}
.content-large{
    grid-column: span 1;
    grid-row: span 1;
}
.content-small{
    grid-column: 4/max;
    grid-row: 2/5
}
.footer{
    grid-column: 1/ max;
    padding: 10px;
    background-color: #181818;

}

/* ---Logowanie-i-rejestracja-grid--- */

#container_log{
    width: 100vw;
    height: 100vh;

    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    color: #ffa500;


    display: grid;
    grid-template-columns: 1fr minmax(min-content, 450px) minmax(min-content, 450px) 1fr;
    grid-template-rows: 10% 1fr 10%;

    gap: 10px;
    box-sizing: border-box;
}
.container_log div{
    border: 1px solid #000000;
}
.panel_login{
    grid-column: 3/ 4;
    grid-row: 2;

    background-color: #181818;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    /*background-image: url(panelbg.png);*/
}

.panel_signin{
    grid-column: 2/ 3;
    grid-row: 2;

    background-color: #181818;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    /*background-image: url(panelbg.png);*/
}
.panel_form{
    display: flex;
    flex-direction: column;
}
.panel_form > *{
    align-self: flex-start;
    line-height: 2.5;
}
.pl_labels{
    font-size: 1.5em;
    font-weight: 500;
}
.pl_input{
    width: 100%;
    max-width: 400px;
    padding: 0.4em;
    font-size: 0.7em;
    outline: none;
    border: 3px solid orange;
    border-radius: 10px;
    background: #eeeeee;

}
.pl_span{
    padding: 5px 0px;
    font-weight: 700;
    font-size: 0.8em;
    color : #db1010;
    visibility: hidden;
}
.pl_button_login{
    font-size: 0.9em;
    font-weight: 500;
    padding: 0px 100px;
    border: 3px solid orange;
    border-radius: 10px;

}
.pl_input:focus{
    background: #ffffff;
}
.pl_input_error{
    color: #db1010;
    border-color: #db1010;
}
.pl_input_error::placeholder{
    color: #d42929;
}
.pl_input_error + .pl_span{
    visibility: visible;
}







