body {
    margin: 0;
    padding: 0;
    background-color: white;
}
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
header{
    grid-column: 1/ max;
    grid-row: 1/2;
    color: white;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 35px;

    background-color: #181818;

    display: flex;
    flex-direction: row;
    padding: 15px;
}
nav{
    margin-left: auto;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img{
    display: flex;
}
a{
    color: inherit;
    text-decoration: none;
}
footer{
    color: white;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 14px;

    background-color: #181818;

    display: flex;
    flex-direction: row;
    padding: 10px;

    grid-column: 1/ max;
}
.container {
    width: 100vw;
    min-height: calc(100vh + 110px);
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 10%  1fr  110px;
    background-color: #ffffff;
}
.container div{
    border: 1px solid #181818;
    padding: 10px;
}
.container-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 14%;
    grid-template-rows: 1fr  1fr  1fr;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.name{
    align-self: center;
}
.navbutton{
    border: none;
    margin-inline: 20px;
    align-self: center;
}
.content-extra-large{
    grid-column: 1/ span 3;
    grid-row: 1/3;

    background-image: url("news.png");
    background-size: cover;
    background-color: #91bebb;

    color: #ffffff;
    font-size: 4em;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.content-extra-large-text{
    display: flex;
    flex-direction: column;
    text-shadow: 0 1px 5px black;
    text-align: center;
}
.content-large{
    grid-column: span 1;
    grid-row: span 1;

    background-color: #91bebb;
}
.content-small{
    grid-column: 4/max;
    grid-row: 1/4;

    color: #ffffff;
    background-color: #181818;
}
.container_log{
    width: 100vw;
    min-height: calc(100vh + 110px);
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 10%  1fr  110px;
}
.container_log div{
    padding: 40px;
}
.container_log-content{
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 1fr) 1fr;
    grid-template-rows: 1fr;

    box-sizing: border-box;
    background-color: #ffffff;
}

.panel_login{
    box-shadow: 5px 5px 20px #181818;
    background-color: #ffffff;
    border-radius: 2px;
}
.panel_login-cont{
    display: flex;
    flex-direction: column;
}
.panel_login-cont >*{
    padding: 20px;
}
.panel_login-lab{
    padding-inline: calc(50% - 1em);
    font-size: 2em;
}
.panel_login-inp{
    font-size: 1em;
    border: 2px solid #181818;

}
.panel_login-sbt{
    margin-top: 2em;
    border: 2px solid #181818;
    background-color: #91bebb;
    font-size: 1em;
    font-weight: bold;
    /* znaleźć inną czcionkę */
}
.panel_login-switch{
    margin-top: 2em;
    border: 2px solid #181818;
    background-color: #91bebb;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}


