body {
    margin: 0;
    padding: 0;
    background-color: white;
}
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.container {
    width: 100vw;
    min-height: calc(100vh + 120px);
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 15%;
    grid-template-rows: 10% 1fr 1fr 1fr 110px;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.container div{
    padding: 10px;
    border: 1px solid #181818;
}
.header{
    grid-column: 1/max;

    color: white;
    font-size: 1.5em;

    padding: 10px;
    background-color: #181818;
}
.footer{
    grid-column: 1/ max;

    color: white;
    font-size: 15px;

    padding: 10px;
    background-color: #181818;
}
.content-extra-large{
    grid-column: 1/ span 3;
    grid-row: 2/4;

    display: flex;
    justify-content: space-between;

    background-image: url("news.png");
    background-size: cover;
    background-color: #91bebb;
}
.content-large{
    grid-column: span 1;
    grid-row: span 1;

    background-color: #91bebb;
}
.content-small{
    grid-column: 4/max;
    grid-row: 2/5;

    background-color: #91bebb;
}
/* logowanie/rejestracja*/

.container_log{
    width: 100vw;
    min-height: calc(100vh + 120px);
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    color: #ffa500;

    display: grid;


    grid-template-columns: 1fr minmax(min-content, 450px) minmax(min-content, 450px) 1fr;
    grid-template-rows: 10% 1fr 100px;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.container_log div{
    padding: 10px;

}
.panel_login{
    grid-column: 3/ 4;
    grid-row: 2;

    background-color: #181818;
    padding: 20px;

    display: flex;
    flex-direction: column;

    position: relative;
}

.panel_signin{
    grid-column: 2/ 3;
    grid-row: 2;

    background-color: #181818;
    padding: 20px;

    display: flex;
    flex-direction: column;

    position: relative;
}
.panel_form_sign{
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.panel_form_sign > *{
    align-self: flex-start;
    line-height: 2.5;
}
.panel_form_log{
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.panel_form_log > *{
    align-self: flex-start;
    line-height: 2.5;
}
.pl_labels{
    font-size: 1.5em;
    font-weight: 500;
}
.pl_input{
    width: 100%;
    max-width: 400px;
    padding: 0.4em;
    font-size: 0.7em;
    outline: none;
    border: 3px solid orange;
    background: #eeeeee;
}
.pl_span{
    padding: 5px 0px;
    font-weight: 700;
    font-size: 0.8em;
    color : #db1010;
    visibility: hidden;
}
.pl_button_login{
    font-size: 0.9em;
    font-weight: 500;
    padding: 0 100px;
    border: 3px solid orange;
}
.pl_input:focus{
    background: #ffffff;
}
.pl_input_error{
    color: #db1010;
    border-color: #db1010;
}
.pl_input_error::placeholder{
    color: #d42929;
}
.pl_input_error + .pl_span{
    visibility: visible;
}
.log_sign_change{
    font-size: 0.9em;
    font-weight: 500;
    padding: 0 100px;
    border: 3px solid #181818;
}
.panel_btn {
    position: absolute;
    top: 40%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.btn_info_text{
    color: #181818;
    font-size: 1.2em;
    font-weight: bold;
}
.change_btn{
    visibility: hidden;

}
.change_panel{
    visibility: visible;
}
.panel_bg{
    background-image: url(panelbg.png);
}

/* logowanie/rejestracja koniec*/

